@use "sass:map";

@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&display=swap");

$primary-font-family: "IBM Plex Sans";
$primary-color: #191826;
$breakpoints: (
    "sm": 30rem,
    "md": 48rem,
    "lg": 90rem,
);

@mixin respond($size) {
    @media (min-width: map.get($breakpoints, #{$size})) {
        @content;
    }
}

* {
    box-sizing: border-box;
}

html {
    color: $primary-color;
    font-family: $primary-font-family;
    font-style: normal;
    font-size: 1rem;
}

body {
    background-color: #FCFAF9;
    background: url('../assets/bg-main-mobile.png');
    background-position: top -12rem right -12rem;
    background-size: auto;
    background-repeat: no-repeat;

    @include respond("md") {
        background-image: url('../assets/bg-pattern-1.svg'), url('../assets/bg-main-tablet.png');
        background-position: top -2.5rem right -3.1rem, top -12rem left -25rem;
    }

    @include respond("lg") {
        background-image: url('../assets/bg-pattern-1.svg'), url('../assets/bg-main-desktop.png');
        background-position: top -2.5rem right;
    }
}

header {
    margin-bottom: 4rem;
    padding: 4rem 1.25rem 0rem;

    @include respond("md") {
        padding: 4rem 2.75rem 0rem;
        margin-bottom: 8rem;
    }

    @include respond("lg") {
        padding: 4rem 10rem 0rem;
    }
}

button {
    border: unset;
    border-radius: 0.75rem;
    display: flex;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 2.025rem;
    transition: all 0.3s ease;

    &:hover {
        cursor: pointer;
    }
}

.title {
    padding: 0rem 1.25rem;

    @include respond("md") {
        padding: 0rem 2.75rem;
    }

    @include respond("lg") {
        padding: 0rem 10rem;
    }

    h1 {
        max-width: 21rem;
        font-size: 2.5rem;
        font-weight: 700;
        line-height: 2.5rem;
        letter-spacing: -0.0625rem;
        margin-bottom: 2.5rem;

        @include respond("md") {
            font-size: 4rem;
            line-height: 4rem;
            max-width: 26rem;
        }

        @include respond("lg") {
            max-width: 82.85%;
        }
    }

    p {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5rem;
        max-width: 21rem;
        margin-bottom: 10.87rem;

        @include respond("md") {
            max-width: 31.5rem;
            font-size: 1.125rem;
            line-height: 1.6875rem;
            margin-bottom: 17rem;
        }

        @include respond("lg") {
            max-width: 68.5%;
        }
    }
}

.content {
    background: #191826 url('../assets/bg-pattern-2.svg') no-repeat top left 2rem;

    @include respond("md") {
        margin: 0rem 2.75rem 12.5rem;
        border-radius: 0.75rem;
        background-position: left top;
        position: relative;
    }

    @include respond("lg") {
        margin: 0rem 10rem 12.5rem;
        background-position: top left 33%;
    }

    img {
        max-width: 13rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        top: -6.87rem;

        @include respond("md") {
            max-width: 17rem;
            left: 2.68rem;
            transform: unset;
        }

        @include respond("lg") {
            max-width: 17.5rem;
            left: 10%;
            top: -8rem;
        }
    }

    .premium {
        background-color: #FA7453;
        padding: 3rem 1.25rem 6.94rem;

        @include respond("md") {
            max-width: 22.25rem;
            border-radius: 1rem;
            position: absolute;
            top: 5rem;
            right: 4rem;
            padding: 3rem;
        }

        @include respond("lg") {
            right: 7%;
            width: 46%;
            max-width: 32rem;
        }

        h2 {
            font-size: 2.5rem;
            font-weight: 700;
            line-height: 2.75rem;
            margin-bottom: 1.5rem;
        }

        p {
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
            margin-bottom: 2.5rem;

            @include respond("md") {
                font-size: 1.125rem;
                line-height: 1.6875rem;
            }

            @include respond("lg") {
                font-size: 1.25rem;
                line-height: 1.875rem;
            }
        }

        .price {
            font-size: 1.25rem;
            font-weight: 400;
            line-height: 1.875rem;
            display: flex;
            gap: 1rem;
            align-items: center;
            margin-bottom: 3rem;

            .large {
                font-size: 4rem;
                font-weight: 700;
                line-height: 4.4rem;
            }
        }

        button:first-of-type {
            margin-bottom: 1rem;
            color: #FCFAF9;
            background-color: #191826;

            &:hover {
                background-color: #66E2DC;
                color: #191826;
            }
        }

        button:last-of-type {
            color: #191826;

            &:hover {
                background-color: #FFB964;
            }
        }
    }
}

footer {
    padding: 4rem 1.25rem 5rem;

    @include respond("md") {
        padding: 4rem 2.5rem 5rem;

        .flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
    }

    @include respond("lg") {
        padding: 4rem 10rem 5rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        .flex {
            display: flex;
            gap: 18rem;
        }
    }

    .logo {
        margin-bottom: 2rem;
    }

    .contact {
        margin-bottom: 2rem;

        p {
            line-height: 1.5rem;
        }

        @include respond("md") {
            margin: 0;
        }

        a {
            text-decoration: none;
            color: #191826;
            font-weight: 700;
            line-height: 1.5rem;
        }
    }

    .socials {
        display: flex;
        gap: 2rem;
        align-items: center;

        a {
            text-decoration: none;
            cursor: pointer;
            color: #191826;

            &:hover {
                color: orange;
            }
        }
    }
}